@use 'sass:color';
@use '../theme.scss';

.search-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .search-placeholder {
        position: absolute;
        margin-inline: .7rem;
        line-height: 2rem;
        cursor: default;
        pointer-events: none;
        color: color.scale(theme.$font-primary-strong, $blackness: 30%);
    }

    .search-input {
        flex: 1 0 100%;
        min-height: 2rem;
        display: flex;
        margin: 1rem 0rem .2rem;
        border: 1px solid #ccc;
        position: relative;
        &:focus-within {
            outline: -webkit-focus-ring-color auto 1px;
        }
        input {
            justify-self: flex-start;
            flex: 1;
            display: block;
            min-width: 30rem;
            padding: 0 .5rem;
            border: none;
            font-size: 1rem;
            &:focus-visible {
                outline: none;
            }
            color: theme.$font-primary-strong;
            background-color: color.scale(theme.$dark-bg, $whiteness: 10%);
        }
        .search-clear {
            line-height: 2rem;
            padding: 0 1rem;
            justify-self: flex-end;
            cursor :pointer;
            color: theme.$font-primary-strong;
            font-weight: 700;
            &:hover {
                color: theme.$secondary;
                background-color: theme.$font-primary-strong;
            }
        }
    }

    .search-notification {
        padding: 0 .6rem;
        color: color.scale(theme.$color-warn-primary, $whiteness: 30%);
    }
}
