@use 'sass:color';
@use './theme.scss';

.App {
    min-width: 680px;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 10rem 20rem;
    background-color: theme.$dark-bg;
}

.App-header {
    font-weight: 700;
}

.App-main {
    border: 1px solid color.scale(theme.$bg-front, $whiteness: 10%);
    border-radius: .5rem;
    padding: 2rem 5rem;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: theme.$bg-front;
}
