// Very basic theming for the app
@use 'sass:color';

/* Font */




/* Colors */
$dark-bg: #050d22;
$bg-front: #0c162d;
$font-primary-strong: #19c2c4;
$primary: #4a9d68;
$secondary: #4b68f3;
$secondary-fade: #6984e4;
$font-fade: #6c7892;
$highlight: #f3f4ee;

$border: #ccc;
$border-fade: $font-fade;

$color-warn-primary: #f78166;

* {
    color: $primary;
}


/* Effects */
/**
 * ==============================================
 * Dot Elastic
 * ==============================================
 */
.loading-dot {
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: color.scale($border-fade, $blackness: 30%);
    color: color.scale($border-fade, $blackness: 30%);
    animation: loadingDot 1s infinite linear;
}

.loading-dot::before,
.loading-dot::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
}

.loading-dot::before {
    left: -15px;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: color.scale($border-fade, $blackness: 30%);
    color: color.scale($border-fade, $blackness: 30%);
    animation: loadingDotBefore 1s infinite linear;
}

.loading-dot::after {
    left: 15px;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    background-color: color.scale($border-fade, $blackness: 30%);
    color: color.scale($border-fade, $blackness: 30%);
    animation: loadingDotAfter 1s infinite linear;
}

@keyframes loadingDotBefore {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1.5);
    }

    50% {
        transform: scale(1, 0.67);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes loadingDot {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 1.5);
    }

    75% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(1, 1);
    }
}

@keyframes loadingDotAfter {
    0% {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1, 0.67);
    }

    75% {
        transform: scale(1, 1.5);
    }

    100% {
        transform: scale(1, 1);
    }
}

/* Animations */
